{% load staticfiles %}
{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
    	Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
    	Title 
    =========================== -->
    <title>Progaming</title>
    

    
</head>
<body>

            
    <!-- ==========================
    	CONTENT - START 
    =========================== -->
    <div class="container">
        <section class="content-wrapper">
        	<div class="box">
                            
                <!-- ERROR - START -->
                <div class="error">
                	<h2>Error 404 - Page not found</h2>
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                	<a href="index.html" class="btn btn-primary btn-lg">Back to Homepage</a>
                </div>
                <!-- ERROR - END -->
                
            </div>
        </section>
    </div>
    <!-- ==========================
    	CONTENT - END 
    =========================== -->
   

   
</body>
</html>	