{% extends "base_2.html" %}
{% load staticfiles %}

{% block main %}
 <!-- CONTENT BODY - START -->
                <div class="col-sm-8">
                    
                	<div class="box">
                    	                      
                     	<div class="team-members-wrapper">
                            
                            <!-- TEAM MEMBER - START -->   
                            <div class="team-member">
                                <div class="row">
                                    <div class="col-xs-3"><img src="{% static 'images/gaben2.png' %}" class="img-responsive center-block img-circle" alt=""></div>
                                    <div class="col-xs-9">
                                        <h2>Contact info</h2>
                                        <ul class="list-unstyled">
                                            
                                            <li><strong>Email:</strong>gover66at@gmail.com</li>
                                        </ul>
                                        <p>Django 1.8, bootstrap.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- TEAM MEMBER - END --> 
                            
                            
                            
                    	</div>
                	</div>
                </div>
                <!-- CONTENT BODY - END -->

{% endblock %}