{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

    <!-- ==========================
        CONTENT - START 
    =========================== -->
    <div class="container">
        <section class="content-wrapper">
            <div class="row">
            	
                <!-- SIDEBAR - START -->
                <div class="col-sm-4 hidden-xs">
                    
                    <!-- SIDEBAR BOX - START -->
                    <div class="box sidebar-box widget-wrapper">



                    

                        
                        <div class="tournament">
                            {% if not request.user.is_authenticated %}
                                <h4>To login - try username: test pass: test</h4>
                            
                            
                            <div class="box registration-form">
                            <h2>Login</h2>
                            <form method='POST' action='{% url "auth_login" %}' >{% csrf_token %}
                            <div class="form-group">
                                <label for="login_username">Username</label>
                                <input type='text' class='form-control' name='username' placeholder='Username' />
                            </div>
                            <div class="form-group">
                                <label for="login_pass">Password</label>
                                <input type='password' class='form-control' name='password' placeholder='Password' />
                            </div>
                            
                            <div class="text-center"><button tipe='submit' class="btn btn-inverse login-btn" >Login</button></div>
                            <a href="{% url 'auth_password_reset' %}">Forgot password?</a>
                            </form>
                            </div>

                            {% else %}

                            {% endif %}

                            {% if request.user.is_authenticated %}
                            <h3>Profie</h3>
                            <a href='/user/profile/0/'>{{ user }}</a>
                            

                            {% if queryset %}
                            <h2>Welcome papa</h2>  
                            <a href="user/profile/0/ ">{{ user }}</a>
                            {% endif %}

                            {% else %}

                            {% endif %}
                            


                            
                        </div>
                    </div>
                    <!-- SIDEBAR BOX - END -->
                    
                    
                </div>
                <!-- SIDEBAR - END -->
               

                {% block main %}
                {% endblock %}
                
            </div>
        </section>
    </div>
    <!-- ==========================
        CONTENT - END 
    =========================== -->


{% endblock %}