{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>

    {% block title %}
    <!-- ==========================
        Title 
    =========================== -->
    <title>Home</title>
        

    {% endblock %}
 
    <!-- ==========================
        CSS 
    =========================== -->
    {% include 'head_css.html' %}
     
</head>
<body>
    <h1>progaming</h1>
    

    {% block navbar-fixed-top %}
    <!-- ==========================
        HEADER - START 
    =========================== -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand visible-xs">Progaming</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'list' %}">Blog</a></li>
                    <li><a href="{% url 'index' %}">Chat</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'terms' %}">Terms</a></li>
 
 
                </ul>
                <div class="pull-right navbar-buttons hidden-xs">
                    <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}" class="btn btn-inverse" >Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'registration_register' %}" class="btn btn-inverce" >Register</a></li>
                    {% endif %}
                    
                    {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                    <li><a href="{% url 'auth_login' %}" class="btn btn-primary" >Login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========================
        HEADER - END 
    =========================== -->

            <!-- ==========================
                GOOGLE ANALITICS - START 
            =========================== -->

            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-68488885-1', 'auto');
              ga('send', 'pageview');

            </script>


            <!-- ==========================
                GOOGLE ANALITICS - END 
            =========================== -->

    {% endblock %}

    {% block logo %}  
    <!-- ==========================
        logo - START 
    =========================== -->
    <div class="container hidden-xs">
        <div class="header-title">
            <div class="pull-left">
                <h2><a href="{% url 'home' %}"><span class="text-primary">Gaben</span>322</a></h2>
                <p>Best Steam roulette.</p>
            </div>
        </div>
    </div>
    <!-- ==========================
        logo - END 
    =========================== -->
    {% endblock %}


    
    
        <div class="container">
        {% block content %}

        {% endblock %}
        </div>

    {% include 'js.html' %}

    

    {% block footer %}
    <!-- ==========================
        FOOTER - START 
    =========================== -->
    <div class="container">
        <div class="footer-boxes">
            <div class="row">
                        
                <!-- FOOTER BOX - START -->
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div class="box">
                        <h4>About Us</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                    </div>
                </div>
                <!-- FOOTER BOX - END -->
                
                <!-- FOOTER BOX - START -->
                <div class="col-sm-6 col-md-4">
                    <div class="box footer-tags">
                        <h4>Tags</h4>
                        <a href=""><span class="text-10">Clean</span></a>
                        <a href=""><span class="text-20">CV</span></a>
                        <a href=""><span class="text-20">Flat</span></a>
                        <a href=""><span class="text-14">Freelance</span></a>
                        <a href=""><span class="text-20">Modern</span></a>
                        <a href=""><span class="text-12">One Page</span></a>
                        <a href=""><span class="text-14">Professional</span></a>
                        <a href=""><span class="text-14">Responsive</span></a>
                        <a href=""><span class="text-16">Resume</span></a>
                        <a href=""><span class="text-20">Business</span></a>
                        <a href=""><span class="text-16">Corporate</span></a>
                        <a href=""><span class="text-18">CSS3</span></a>
                        <a href=""><span class="text-12">HTML5</span></a>
                        <a href=""><span class="text-16">Mobile First</span></a>
                        <a href=""><span class="text-20">Multipurpose</span></a>
                        <a href=""><span class="text-14">Portfolio</span></a>                   
                    </div>
                </div>
                <!-- FOOTER BOX - END -->
                
                <!-- FOOTER BOX - START -->
                <div class="col-sm-6 col-md-4 hidden-xs">
                    <div class="box footer-posts">
                        <h4>Recent Posts</h4>   
                        <ul class="list-unstyled">
                            <li><a href="#">Pellentesque habitant morbi</a> <span class="post-date">6.2.2015</span></li>
                            <li><a href="#">Tristique senectus et netus</a> <span class="post-date">31.1.2015</span></li>
                            <li><a href="#">Et malesuada fames ac</a> <span class="post-date">9.12.2014</span></li>
                            <li><a href="#">Turpis egestas nullam</a> <span class="post-date">1.12.2014</span></li>
                            <li><a href="#">Posuere magna a dapibus luctus</a> <span class="post-date">25.11.2014</span></li>
                        </ul>
                    </div>
                </div>
                <!-- FOOTER BOX - END -->
                
            </div>
        </div>
        <footer class="navbar navbar-default">
            <div class="row">
                <div class="col-md-6 hidden-xs hidden-sm">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'list' %}">Blog</a></li>
                        <li><a href="{% url 'index' %}">Chat</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy</a></li>
                        <li><a href="{% url 'terms' %}">Terms</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="copyright">© Progaming 2015 All right reserved. Designed by <a href="http://broservice.com.ua/" target="_blank">Gonzo IT.</a></p>
                </div>
            </div>
        </footer>
    </div>
    <!-- ==========================
        FOOTER - END 
    =========================== -->
    {% endblock %}

  </body>
</html>