{% extends "base_2.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}



{% block main %}
<!-- CONTENT BODY - START -->
<div class="col-sm-8">
    
    <div class="box colored tournament-partner">
        <div class="row">
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_1.png' %}" class="img-responsive center-block" alt=""></a></div>
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_2.png' %}" class="img-responsive center-block" alt=""></a></div>
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_3.png' %}" class="img-responsive center-block" alt=""></a></div>
        </div>
    </div>
   
    <!-- GAMING TEAM INFO - START -->
    <div class="box gaming-team">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <img src="{% static 'images/gaben1.png' %}" alt="" class="img-responsive center-block">
            </div>
            <div class="col-md-10 col-xs-9">
                <h2>Магия</h2>
            <p>Прочитай это про себя. Читай тихо. Не двигай губами. Не издавай ни звука. Прислушайся к себе. Слушай только себя и никаких прочих звуков. Какая восхитительно странная штука, а?</p>
            <p>А СЕЙЧАС ГРОМКО!
            КРИЧИ В СВОИХ МЫСЛЯХ!
            ЗАГЛУШАЯ ВСЁ ВОКРУГ.
            Теперь, услышь шепот. Еле слышимый.</p>
            <p>А сейчас, прочитай следующую строку своим лучшим сварливо-стариканским голосом:
            "Ну, здравствуй, сынок. А есть ли в твоем городке почтовое отделение?".
            Великолепно! Кто это был? Чей это был голос?
            Совершенно точно не ваш!</p>
            <p>Как вам это удается?
            Как?!
            Должно быть, магия.</p>
            </div>
       
            <div class="col-md-6">
                <img src="{% static 'images/solo1.png' %}" alt="" class="img-responsive team-photo">
            </div>
        </div>
    </div>
    <!-- GAMING TEAM INFO - START -->
    

  
    
</div>
<!-- CONTENT BODY - END -->
    


{% endblock %}


	


