{% extends "base_2.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}



{% block main %}
<!-- CONTENT BODY - START -->
<div class="col-sm-8">
    
    <div class="box colored tournament-partner">
        <div class="row">
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_1.png' %}" class="img-responsive center-block" alt=""></a></div>
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_2.png' %}" class="img-responsive center-block" alt=""></a></div>
            <div class="col-xs-4"><a href=""><img src="{% static 'images/partner_3.png' %}" class="img-responsive center-block" alt=""></a></div>
        </div>
    </div>
   
    <!-- GAMING TEAM INFO - START -->
    <div class="box gaming-team">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <img src="{% static 'images/gaben1.png' %}" alt="" class="img-responsive center-block">
            </div>
            <div class="col-md-10 col-xs-9">
                <h2>Gaben 322</h2>
                <p>Гейб Логан Ньюэлл (англ. Gabe Logan Newell; родился 3 ноября 1962) — один из основателей и генеральный директор компании Valve, занимающейся разработкой компьютерных игр и их цифровой дистрибуцией.</p>
                <p>On June 16th, 2013, Solo received a lifetime ban from Starladder for betting fraud against zRage. On the 21st, Solo was officially removed from RoX after admitting his involvement. Later, the ban was commuted to one year.</p>

                <p>The amount that Solo won from betting against his own team was $322, although he never received the money. Since then, Dota commentators and viewers frequently use the phrase "322" to mock particularly bad plays, implying that it almost appears that the player in question is attempting to throw the game.</p>
            </div>
       
            <div class="col-md-6">
                <img src="{% static 'images/solo1.png' %}" alt="" class="img-responsive team-photo">
            </div>
        </div>
    </div>
    <!-- GAMING TEAM INFO - START -->
    

  
    
</div>
<!-- CONTENT BODY - END -->
    


{% endblock %}


	


